<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="templates/layout :: headerFragment">
</head>

<body>
<div th:include="templates/layout :: menuFragment">
</div>
<div class="container">
    <div class="panel panel-default">
    	<div class="panel panel-body">
	            <h1>Bootstrap probíhá</h1>	
					<div class="progress">
  						<div class="progress-bar progress-bar-warning progress-bar-striped" color="red" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
    						<span class="sr-only">85% Complete (warning)</span>
  						</div>
					</div>
    	        <p>v0.85 (1.1)</p>
    	        <p>            
        	        <a class="btn btn-primary btn-lg" role="button">Bump</a>
            	</p>
		</div>
    </div>
	<div class="jumbotron">
		<h2>Posledni zmeny</h2>
		<p>File upload - obrazky projektu</p>
		<p>Data - filesystem properties, zobrazeni z disku streamem</p>
		<p>Kontrolni bloky a data na pozorovani</p>
	</div>
</div>


<div th:include="templates/layout :: footerFragment">

</div>

</body>

</html>