<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="templates/layout :: headerFragment">
</head>

<body>
<div th:include="templates/layout :: menuFragment">
</div>
<div class="container">
    <div class="panel panel-default">
    	<div class="panel panel-body">
	            <h1>Bootstrap probíhá</h1>	
					<div class="progress">
  						<div class="progress-bar progress-bar-warning progress-bar-striped" color="red" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
    						<span class="sr-only">90% Complete (warning)</span>
  						</div>
					</div>
    	        <p>v0.95b (3.1)</p>
    	        <p>            
        	        <a class="btn btn-primary btn-lg" role="button">Bump</a>
            	</p>
		</div>
    </div>
	<div class="jumbotron">
		<h2>Posledni zmeny</h2>
		<p>Plne provazani projekty + uzivatele + pozorovani</p>
		<p>Data - svazani s filesystemem, uploady pro pozorovani</p>
		<p>Data - download</p>
		<p>Tabulky a rozdeleni podle pristupu</p>
		<p>Form pro pridavani nastaveni pozorovani (zatim nemizi)</p>
	</div>
</div>


<div th:include="templates/layout :: footerFragment">

</div>

</body>

</html>