<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://github.com/dandelion/datatables"
        >

<head th:include="templates/layout :: headerFragment">
</head>

<body>
<div th:include="templates/layout :: menuFragment">
</div>
<div class="container-fluid">
	<div class="page-header">
    		<h2 contenteditable="true">Project Details</h2>
    </div>
	<div class="panel panel-default">
		<div class="panel-heading">
    		<h3 class="panel-title" th:text="${project.name}">Project Name and Details</h3>
	  	</div>
  		<div class="panel-body">
    			<div th:text="${project.name}">name</div>

    			<div>Current phase
	    		</div>
    			<div>
		        	<div th:text="${project.phase}">phase</div>
		    	</div>
		    	<div>
		    		<img th:src="@{'/project/getImage/' + ${project.id}}" class="img-thumbnail"/>
		    	</div>

		</div>
		
	</div>
</div>
<div th:include="templates/layout :: footerFragment">

</div>
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css"
      href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
    </link>
<!-- DataTables -->
<script type="text/javascript" charset="utf8"
        src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

</body>

</html>