<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://github.com/dandelion/datatables"
        >

<head th:include="templates/layout :: headerFragment">
</head>

<body>


<div th:include="templates/layout :: menuFragment">
</div>
<div class="container">
	<div class="panel panel-default">
	  <div class="panel-heading">All Projects</div>
	  <div class="panel-body">
    	<table dt:table="true" dt:theme="bootstrap2"
    			dt:ext="bootstrap2-responsive"
    			dt:paginationType="bootstrap"
        	   class="table table-striped table-condensed dataTable"
	           id="projects">
    	    <thead th:unless="${#lists.isEmpty(allProjects)}">
    	    <tr>
        		<th>
           			Name
	        	</th>
	        	<th>
	        		Author
	        	</th>
	        	<th>
           			Users
	        	</th>
	        	<th>
           			Created
	        	</th>
	        	<th>
           			Last Changed
	        	</th>
	        	<th>
           			Description
	        	</th>
	        	<th>
           			Observations associated
	        	</th>
	        	</tr>
    	    	</thead>
        	<tbody th:unless="${#lists.isEmpty(allProjects)}" >
	        <tr th:each="project : ${allProjects}" th:href="@{'/project/' + ${project.id}}">
				
    	        <td> <a href="detail.html"
        	            th:href="@{'/project/detail/' + ${project.id}}"
            	        th:text="${project.name}">ProjectName</a>
            	</td>
            	<td th:text="${project.getAuthor().getUsername()}">Author</td>
            	<td th:text="${project.getUsers().size() + 1}">1</td>
            	<td th:text="${project.created}">CreatedDate</td>
            	<td th:text="${project.modified}">ModifiedDate</td>
            	<td th:text="${project.description}">ProjectDescription</td>                        	
            	<td th:text="${project.getObservations().size()}">1</td>
        	</tr>
	        </tbody>

    	</table>
    	<div>
    		<form th:action="@{/project/create}" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
    			<button class="btn btn-default btn-lg" type="submit">    		
  					<span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span> New Project
				</button>
			</form>
		</div>
      </div>
    </div>    
</div>
<div th:include="templates/layout :: footerFragment">

</div>
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css"></link>

  
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script>
$(window).bind("load",function() {
  var x=document.getElementById("projects_paginate").childNodes;
  var att = document.createAttribute("class");
  att.value = "pagination";
  x[0].setAttributeNode(att);
  });
</script>


</body>

</html>