<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        >

<head th:include="templates/layout :: headerFragment">
</head>

<body>


<div th:include="templates/layout :: menuFragment">
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Create a new Observation</h3>

                        <div th:if="${createError}" class="alert alert-error">Invalid input</div>
                    </div>
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form" th:action="@{/public/signup_confirm}"
                              th:object="${user}" method="post">
                            <fieldset>
                            	<!--  input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" / -->
                                <div class="form-group">
                                    <div th:class="${#fields.hasErrors('username')}? 'control-group error':'control-group'">
                                        <label class="control-label" for="username">Username</label>

                                        <div class="controls">
                                            <input type="text" th:field="*{username}" id="username"
                                                   class="form-control"/>
                                            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                                  class="help-inline">Incorrect data</span>

                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div th:class="${#fields.hasErrors('email')}? 'control-group error':'control-group'">
                                        <label class="control-label" for="email">Email</label>

                                        <div class="controls">
                                            <input type="text" th:field="*{email}" id="email" class="form-control"/>
                                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                                  class="help-inline">Incorrect data</span>

                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div th:class="${#fields.hasErrors('password')}? 'control-group error':'control-group'">
                                        <label class="control-label" for="password">Password</label>

                                        <div class="controls">
                                            <input type="password" th:field="*{password}" id="password"
                                                   class="form-control"/>
                                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                                  class="help-inline">Incorrect data</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div th:class="${#fields.hasErrors('confirmPassword')}? 'control-group error':'control-group'">
                                        <label class="control-label" for="confirmPassword">Confirm password</label>

                                        <div class="controls">
                                            <input type="password" th:field="*{confirmPassword}" id="confirmPassword"
                                                   class="form-control"/>
                                            <span th:if="${#fields.hasErrors('confirmPassword')}"
                                                  th:errors="*{confirmPassword}"
                                                  class="help-inline">Incorrect data</span>

                                        </div>
                                    </div>

                                </div>
                                <div th:if="${recaptcha}">
                                    <div class="form-group">
                                        <div th:inline="text">[[${recaptcha}]]</div>
                                    </div>
                                </div>
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Signup"/>
                            </fieldset>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<div th:include="templates/layout :: footerFragment">

</div>


</body>

</html>