<html>
<body>
<h3>Hi ${user.email}, welcome to ${websiteName}!</h3>

<div>
    An account was registered to this email on our website, please use the following link to active your account:
    <a href="http://${host}/obslo/public/activation?mail=${user.email}&code=${securityCode.code}">Activate</a>.
</div>
</body>

</html>