<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        >

<head th:include="templates/layout :: headerFragment">
</head>

<body>


<div th:include="templates/layout :: menuFragment">
</div>
<div class="container">
    <div class="sidebar-nav">
        <div class="well" style="width:300px; padding: 8px 0;">
            <ul class="nav nav-list">
                <li class="nav-header">My Menu</li>
                <li><a th:href="@{/user/profile}"><i class="icon-home"></i> Dashboard</a></li>
                <li><a th:href="@{/project/list}"><i class="icon-envelope"></i> list <span class="badge badge-info">ERR</span></a></li>
                <li><a th:href="@{/user/searchProject}"><i class="icon-comment"></i> Search projects<span class="badge badge-info">ERR</span></a></li>
                <li class="active"><a th:href="@{/user/searchProject}"><i class="icon-user"></i> SearchProjects</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="icon-comment"></i> Settings</a></li>
                <li><a href="#"><i class="icon-share"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<div th:include="templates/layout :: footerFragment">

</div>


</body>

</html>